{% extends "base.html" %}
{% block title %}Create Task{% endblock title %}
{% block body %}
<div class = "container">
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
    {% endif %}
    <form method = "POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Title</label>
            <input type="text" name="title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div class="form-floating">
                <textarea class="form-control" name = "description" placeholder="Leave a comment here" id="floatingTextarea" ></textarea>
                <label for="floatingTextarea">Description</label>
              </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>    


{%endblock body %}
                